<!-- NOTE: If you're working offline, you might have to change the DOCTYPE to the following: -->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!--  <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> --> <!-- Modified by wx Ver0.0.1. -->

<hibernate-configuration>
    <session-factory>
        <mapping class="com.xj.model.User"/>
        <mapping class="com.xj.model.Role"/>
        <mapping class="com.xj.model.Demo"/>
        <mapping class="com.xj.model.XdpGroup"/>
        <mapping class="com.xj.model.XdpSystem"/>
        <mapping class="com.xj.model.XdpProcess"/>
        <mapping class="com.xj.model.XdpGroupDocType"/>
        <mapping class="com.xj.model.XdpGroupDoc"/>
        <mapping class="com.xj.model.XdpDocType"/>
    </session-factory>
</hibernate-configuration>